<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>简单聊天室</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<script src="js/jquery-1.9.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</head>
<body>
<div class="container">
<h1>聊天室</h1>
<div>
<ul class="room">
<li><a href="javascript:;" onClick="joinroom(1);">1号房</a></li>
<li><a href="javascript:;"  onClick="joinroom(2);">2号房</a></li>
<li><a href="javascript:;"  onClick="joinroom(3);">3号房</a></li>
<li><a href="javascript:;"  onClick="joinroom(4);">4号房</a></li>
</ul>

</div>
<div id="numusers">0个</div>
<div id="chat_content" class="cl"></div>
<div class="form-group-h">

<div class="form-group">
<a href="javascript:;" onClick="chatconn();" class="btn">连接</a>
<a href="javascript:;" onClick="disconn();" class="btn">断开连接</a><br>
<span class="form-label" id="status">未连接</span>
<input type="text" class="form-control" id="input"/>
</div>
</div>
</div>
</body>
</html>