<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>简单聊天室</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="js/jquery-1.9.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</head>
<body>
<h1>聊天室</h1>
<div>
<a href="javascript:;" onClick="chatconn();" class="btn">连接</a>
<a href="javascript:;" onClick="disconn();" class="btn">断开连接</a>
<div class="form-group">
<span class="form-label" id="status">未连接</span>
<input type="text" class="form-control" id="input"/>
</div>
</div>
<div id="numusers">0个</div>
<div id="content" class="cl"></div>
<SCRIPT type="text/javascript">  
if(-1 != navigator.userAgent.indexOf("MSIE"))  
{  
    document.write(' <OBJECT id="Player"');  
    document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');  
    document.write(' width=0 height=0 > <param name="URL" value="5.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');  
}  
else  
{  
    document.write(' <OBJECT id="Player"');  
    document.write(' type="application/x-ms-wmp"');  
    document.write(' autostart="false" src= "5.wav" width=0 height=0> </OBJECT>');  
}  
</SCRIPT>  
<input type=button value="Play" onclick="Player.controls.play();" />  
<input type=button value="Stop" onclick="Player.controls.stop();" />  
</body>
</html>